<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="theme-color" content="#FFF"/>
<meta name="baidu-site-verification" content="w9Akh6dPe4" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--[if lte IE 8]><meta http-equiv="refresh" content="0;url=/ie.html"><![endif]-->

{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}"/>
{% endif %}

<link rel="shortcut icon" href="{{ site.favicon }}" />

<link href="/rss.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

<link rel="preconnect" href="https://www.google.com"/>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js"></script>
<script defer src="/assets/js/av-min.js"></script>
<script defer src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script defer src="/assets/js/script.js"></script>
{% capture styles %}
{% include base.scss %}
{% endcapture %}
<style> {{ styles | scssify  }} </style>
